<!DOCTYPE html>
<html ng-app="matthew">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/cssbundle")
</head>
    <body>

        @RenderBody()
    
        @Scripts.Render("~/scriptsbundle")
    </body>
</html>
